*{
  box-sizing: border-box;
}



/* start map*/
.map {
    position: relative;
    width: 100%;
    margin-top: 5em;
       display: none;
    justify-content: center; 
    overflow: hidden;
    margin-bottom:4em; 

}
.map_wrapper {
    width: 90%;
    overflow: hidden;
    margin: auto;
}
/* start form */
.main_form{
	 position: relative;
	 width: 100%;
}
.form{
	 display: grid;
	 grid-template-columns:repeat(1,2fr 1fr);
	 grid-gap: 30px;
}
.contact-title{
  width:100%;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #112e41;
}
.form textarea {
	 display: block;
  width: 100%;
  height:150px; 
  outline: none;
  padding-top:0.5em; 
}

.form-control{
	  border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    margin-bottom:2em; 
}
.control .form-control:nth-child(2),
.control .form-control:nth-child(3){
display: inline-block;
	 width:48%; 
}
.control .form-control:nth-child(2){
	margin-right:1.3em;
}
.control .form-control:nth-child(4){
	 width:100%; 
}
.control button{
	    display: inline-block;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ff1481;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;

}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content:center;
    margin-bottom:1.2em; 
}
.contact-info__icon{
       padding-top:0.6em;  
       padding-right: 0.5em;
}
.form i{
	color: #8f9195;
    font-size: 27px;
}
.media-body {
    flex: 1;
}
.contact-info .media-body h3 {
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a;
}
.contact-info .media-body p {
    color: #8a8a8a;
    line-height: 0;
 }
/* media */
@media only screen and (min-width: 320px) and (max-width:900px){
.form{
  display: block;
}
.control .form-control:nth-child(2),
.control .form-control:nth-child(3){
display: block;
     width:100%; 
}
.control button{
    margin-bottom:3em; 
  
}
}